langchain-openai
langchain
python-dotenv
langchain-community
langchain_core
langchain_groq
langchain_chroma
chromadb
langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
chromadb
duckdb
pandas
openai
langchain_core
langchain_groq
dash_core_components
dash_html_components
dash_table
toml

#  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